[color]
	status = auto
	branch = auto
	ui = auto
[user]
	name = Dallas Despain
	email = dallas.despain@gmail.com
[credential]
	helper = osxkeychain
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	lg = log --graph --pretty=format:'%Cred%h%Creset %C(cyan)%ad%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=local
	type = cat-file -t
	dump = cat-file -p
[core]
	editor = mvim -f
	autocrlf = input
	excludesfile = /Users/ddespain/.gitignore_global
[push]
	default = simple
